<%- include('partials/header', { title: "Socket Chat" }) %>

<main class="main-content">
  <h1>Real Time Chat Application</h1>
  <span>
    <button onclick="window.location.href='/login'">Login</button>
    <button onclick="window.location.href='/signup'">
      <em>not a member?</em> Sign Up
    </button>
  </span>
</main>

<%- include('partials/footer') %>
