<%- include('partials/header', { title: "Socket Chat" }) %>

<main class="main-content">
  <h1>Real Time Chat Application</h1>
  <p>
    Welcome to the Socket Chat, a real-time chat application built with node.js,
    express.js, and express-ws. To get started, please login or sign up.
  </p>
  <p><em>Number of current online users: <%= numberOfConnectedUsers %></em></p>
  <span>
    <button onclick="window.location.href='/login'">Login</button>
    <button onclick="window.location.href='/signup'">
      <em>not a member?</em> Sign Up
    </button>
  </span>
</main>

<%- include('partials/footer') %>
