<%- include('partials/header', { title: "Sign Up" }) %>

<% const showTimeOut = includeTimeOut || false; %> 

<div class="main-content">
  <h1>Sign Up</h1>
  <% if (errorMessage) { %>
    <div id="error-message" class="error-message"><%= errorMessage %></div>
   <% } %> 
   <%if (showTimeOut){%>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const errorMessage = document.getElementById("error-message");
  
        if (errorMessage) {
          setTimeout(() => {
            errorMessage.classList.add("hidden");
            errorMessage.addEventListener("transitioned", () => {
              errorMessage.remove();
            });
          }, 5000);
        }
      });
    </script>
    <% } %>
  <form action="/signup" method="post" style="width: 300px">
    <div class="form-input-container">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
    </div>
    <div class="form-input-container">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <button type="submit" class="action-button full-width">Sign Up</button>
  </form>
  <p style="font-size: 16px; margin-top: 30px">
    Already have an account?&nbsp;
    <a href="/login" class="register-link">Log in!</a>
  </p>
</div>

<%- include('partials/footer') %>
