<%- include('../partials/header', { title: "Socket Chat" }) %>

<div class="main-content">
  <h1>Live Chat</h1>
  <div class="chat-widget">
    <div>
      <div class="chat-messages" id="chat-messages"></div>
      <div class="chat-users" id="chat-users">
        <h3>Online Users</h3>
        <ul id="online-user-list">
          <li><%= user.username %></li>
        </ul>
      </div>
    </div>
    <form id="chat-form">
      <input type="hidden" id="username" value="<%= user.username %>" />
      <input
        type="text"
        id="message-input"
        placeholder="Type your message..."
        autofocus
        required
      />
      <button type="submit">Send</button>
    </form>
  </div>
</div>
<script src="/frontend.js" type="application/javascript"></script>

<%- include('../partials/footer') %>
